<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RAMEN BUFFET</title>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <script type="text/javascript" src="../js/lib/jquery.js"></script>
  <script type="text/javascript" src="../js/lib/angular.js"></script>
  <script type="text/javascript" src="../js/controllers/main.js"></script>
  <script type="text/javascript" src="../js/services/todos.js"></script>
  <script type="text/javascript" src="../js/core.js"></script>
</head>
<body>
    <section class="text-center" id="todoapp">
      <h1><span class="fa fa-anchor"></span> PROFILE</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  <div class="container">
    <section id="main">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>
          <% if (user.local.email) { %>
          <p>
          <strong>id</strong>: <%= user._id %><br>
          <strong>email</strong>: <%= user.local.email %><br>
          <strong>password</strong>: <%= user.local.password %>
          </p>
          <a href="/unlink/local" class="btn btn-default">Unlink</a>
          <% } else { %>
          <a href="/connect/local" class="btn btn-default">Connect Local</a>
          <% } %>
         </div>
      </div>
        <div class="col-xs-6 col-sm-3">
          <div class="well">
            <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>
            <% if (user.twitter.token) { %>
            <p>
              <strong>id</strong>: <%= user.twitter.id %><br>
              <strong>token</strong>: <%= user.twitter.token %><br>
              <strong>username</strong>: <%= user.twitter.username %><br>
              <strong>displayName</strong>: <%= user.twitter.displayName %>
            </p>
            <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
            <% } else { %>
            <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
            <% } %>
          </div>
        </div>

      <div class="col-xs-6 col-sm-3">
        <div class="well">
          <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
          <% if (user.facebook.token) { %>
          <p>
            <strong>id</strong>: <%= user.facebook.id %><br>
            <strong>token</strong>: <%= user.facebook.token %><br>
            <strong>email</strong>: <%= user.facebook.email %><br>
            <strong>name</strong>: <%= user.facebook.name %>
          </p>
          <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
          <% } else { %>
          <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
          <% } %>
        </div>
      </section>
      </div>
    </section>
    </div>

  </div>
</body>
</html>
